<div>
  <h2>Flitter Stats</h2>
  <p> Number of users: <%=@num_users%></p>
  <p> Number of posts: <%=@num_posts%></p>
  <p> Last post at: <%=@latest_post_time%></p>
</div>


<% if @logged_in %>
  <h1 class="page-header">Feed</h1>
  <%= render "posts" %>
<% else %>
  <h2> Welcome to Flitter! You are not currently signed in. </h2>
  <p> New User? <%= link_to "Click here to sign up", new_user_url %> </p>
  <p> Returning User? <%= link_to "Click here to sign in", new_session_url %></p>
<% end %>


