<h1 class="page-header">All Posts</h1>

<% @posts.each do |post| %>
  <div class="row">
    <%user = User.find_by(id: post.user_id) %>
    <h2><%= link_to user.name, user_path(user.id) %></h2>
    <p><%= post.text %></p>

   <% topics = Topic.joins('INNER JOIN mentions ON topics.id = mentions.topic_id').where('mentions.post_id = ?', post.id) %>
      <% if !topics.blank? %>
        <p>Topic(s):
        <% topics.each do |topic| %>
           <%= link_to topic.name, topic_path(topic.id) %>
        <% end %>
        </p>
      <% end %>

    <p>Likes: <%= Like.where(post_id: post.id).count %></p>
      <% if Like.find_by(post_id: post.id, user_id: session[:user_id] ) %>
        <%= link_to "Unlike", like_path(post.id), :method => 'delete',
              :class => "btn btn-success btn-large btn-danger" %>
      <% else %>
        <%= link_to "Like", new_like_path(post.id),
              :class => "btn btn-success btn-large" %>
      <% end %>

      <p>Comments: <%= Comment.where(post_id: post.id).count %></p>
      <% comments = Comment.where(post_id: post.id).order("updated_at asc") %>
      <% if !comments.nil? %>
        <% comments.each do |comment| %>
            <p>Comment by <%= link_to User.find_by(id: comment.user_id).name, user_path(comment.user_id) %> saying "<%= comment.text %>"</p>
        <% end %>
      <% end %>

      <div class="row">
          <div class="col-md-6">
            <%= form_tag comments_url(post.id), :method => 'post' do %>
              <div class="form-group">
                <%= label_tag :comment_text %>
                <%= text_field_tag :comment_text, "", class: 'form-control', placeholder: 'Enter comment here' %>
              </div>
              <%= submit_tag 'Comment', class: 'btn btn-default' %>
            <% end %>
          </div>
        </div>

  </div>

<% end %>
